<!DOCTYPE html>
<html>

{% load static %}
<head>
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    {% block content %}
    This is the default content.
    {% endblock %}
</body>
</html>