{% extends 'base.html' %}

{% block title %}Synonymy{% endblock %}

{% block content %}
  <h1>Synonymy</h1>
  {{ word.word }}
  <form method="post">
    {% csrf_token %}
    {% if error_message %}
      <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    <label for="guess">Your guess:</label>
    <input type="text" name="guess" id="guess" required autofocus>
    <button type="submit">Submit</button>
  </form>

  <form method="post">
    {% csrf_token %}
    <button type="submit" name="hint" id="hint">Hint</button>
  </form>

  {% if guesses %}
    <h2>Guesses:</h2>
    <ul>
        {% for guess in guesses %}
            <li>{{ guess.guess }} ({{ guess.similarity}})
              {% if guess.definition %} 
                <b>Definition: </b> {{ guess.definition }} 
              {% endif %}
            </li>
        {% endfor %}
    </ul>
  {% endif %}
  {% if hints %}
    <h2>Hints:</h2>
    <ul>
        {% for hint in hints %}
            <li>{{ hint.word }} ({{ hint.similarity }}): {{ hint.definition }}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}