{% extends 'base.html' %}

{% block title %}Synonymy{% endblock %}

{% block content %}
<h1>Synonymy</h1>
<p>This is the word of the day: {{ word.word }}</p>
<form method="post">
  {% csrf_token %}
  {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
  {% endif %}
  <label for="guess">Your guess:</label>
  <input type="text" name="guess" id="guess" required>
  <button type="submit">Submit</button>
</form>

{% if guesses %}
  <h2>Guesses:</h2>
  <ul>
      {% for guess in guesses %}
          <li>{{ guess.guess }} ({{ guess.similarity }})</li>
      {% endfor %}
  </ul>
{% endif %}

{% endblock %}